/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */

/* Using 18px/22px gridline with Perfect Fourth typographic scale */

/* Base */

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 1.125em; /* 18 / 16 = 1.25 */
  line-height: 1.22222em; /* 22 / 18 = 1.22222 */
  font-family: "Merriweather", "Georgia", serif;
  color: #eeeeee; /* White */

  background-color: #111111; /* Black */
}

h4 {
  font-size: 1.33333em; /* 24 / 18 = 1.33333 */
  line-height: 1.375em; /* 33 / 24 = 1.375 */
  padding-bottom: 0.45833em; /* 11 / 24 = 0.45833 */
}

h3 {
  font-size: 1.77777em; /* 32 / 18 = 1.77777 */
  line-height: 1.20313em; /* 38.5 / 32 = 1.20313 */
  padding-bottom: 0.34375em; /* 11 / 32 = 0.34375 */
}

h2 {
  font-size: 2.33333em; /* 42 / 18 = 2.33333 */
  line-height: 1.30952em; /* 44 / 42 = 1.30952 */
  padding-bottom: 0.13095em; /* 5.5 / 42 = 0.13095 */
}

h1 {
  font-size: 2.33333em; /* 42 / 18 = 2.33333 */
  line-height: 1.57143em; /* 66 / 42 = 1.57143 */
  padding-bottom: 0.2619em; /* 22 / 42 = 0.2619 */

  font-weight: bold;
  text-align: center;
  padding-top: 1.30952em; /* 55 / 42 = 1.04762 */
}

p {
  padding-bottom: 1.22222em; /* 22 / 18 = 1.22222 */
}

ol, ul, li {
  padding-bottom: 0.61111em; /* 11 / 18 = 0.611 */
}

a {
  color: #f8f8f8; /* Brighter white */
}

h1, h2, h3, h4 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* Layout */

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navigation li {
  float: left;
  width: 25%;
}

.flexbox #home #header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#content > *, #header {
  padding-left: 1.22222em; /* 22 / 18 = 1.22222 */
  padding-right: 1.22222em; /* 22 / 18 = 1.22222 */
}

#content > section, .section-content {
  padding-bottom: 1.22222em; /* 22 / 18 = 1.22222em */
}

#content > h2 {
  padding-left: 0.52381em; /* 22 / 42 = 0.52381 */
  padding-right: 0.52381em; /* 22 / 42 = 0.52381 */
  margin-bottom: 0.52381em; /* 22 / 42 = 0.52381 */
}

#table-of-contents > section {
  margin-bottom: 2.44444em; /* 44 / 18 = 2.44444 */
  margin-top: 1.22222em; /* 22 / 18 = 1.22222 */
  padding: 1.22222em; /* 22 / 18 = 1.22222 */
}

#table-of-contents p.button {
  text-align: center;
  padding-bottom: 0.61111em; /* 11 / 18 = 0.61111 */
}

.flexbox #table-of-contents > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact {
  padding-top: 1.52778em; /* 27.5 / 18 = 1.52778 */
  padding-bottom: 1.52778em; /* 27.5 / 18 = 1.52778 */
  border-top: 2px solid white;
}

#contact li, img {
  display: inline;
}

#contact li {
  padding-left: 0.61111em; /* 11 / 18 = 0.61111 */
  padding-right: 0.61111em; /* 11 / 18 = 0.61111 */
}

#contact img {
  max-width: 7.5vh;
}

#contact h2 {
  padding-bottom: 0.52381em; /* 22 / 42 = 0.52381 */
}

.competitive-game {
  padding-bottom: 3.05556em; /* 55 / 18 = 3.05556 */
}

#vjasmash figure {
  text-align: center;
}

#vjasmash img {
  max-height: 45vh;
}

/* Modular */

#navigation a {
  display: block;
  padding-top: .61111em; /* 11 / 18 = 0.61111 */
  padding-bottom: 0.61111em; /* 11 / 18 = 0.61111 */
  font-weight: bold;
  background-color: #002040;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  text-decoration: none;
  text-align: center;
  border-bottom: 3px solid #002040;
}

#navigation a#this-page {
  border-bottom: 3px solid orange;
}

.lede {
  font-style: italic;
  text-align: center;
  line-height: 1.83333em; /* 33 / 18 = 1.83333 */
}

main > h2 {
  background-color: #111111;
  text-align: center;
  border-top: 0.16666em solid #eeeeee; /* 7 / 42 = 0.16666 */
  border-bottom: 0.11905em solid #eeeeee; /* 5 / 42 = 0.11905 */
}

#header {
  background-color: #003366; /* Blue */
}

#home {
  background-color: #181818; /* Off-Black */
}

#gamedev {
  background-color: #005a00; /* Green */
}

#computerscience {
  background-color: #660000; /* Red */
}

#esports {
  background-color: #330055; /* Purple */
}

#contact {
  background-color: #003366; /* Blue */
  text-align: center;
}

#footer {
  background-color: #111111; /* Black */
  border-top: 0.16666em solid #eeeeee; /* 7 / 42 = 0.16666 */
}

#table-of-contents > section {
  box-shadow: 0 0 0.44444em rgba(0, 0, 0, .8); /* 8 / 18 = 0.44444 */
}

#table-of-contents > section > h3 {
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 0.34375em; /* 11 / 32 = 0.34375 */
}

#table-of-contents a {
  padding: 0.61111em 1.83333em;
  text-decoration: none;
  font-family: "Montserrat", "Helvetiva", "Arial", sans-serif;
  text-align: center;
  box-shadow: 3px 3px 18px 8px rgba(50, 50, 50, 0.5), inset 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
}

#table-of-contents #gamedev a {
  background-color: #187418;
}

#table-of-contents #computerscience a {
  background-color: #7e1818;
}

#table-of-contents #esports a {
  background-color: #4a186d;
}

#footer > p {
  text-align: center;
  padding-top: 1.22222em; /* 22 / 18 = 1.22222 */
}

#header > img {
  max-height: 45vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.22222em; /* 22 / 18 = 1.22222em */
  box-shadow: 0 0 0.44444em rgba(0, 0, 0, .8); /* 8 / 18 = 0.44444 */
}

.screenshot img {
  border: 0.11905em solid #eeeeee; /* 5 / 42 = 0.11905 */
  margin-bottom: 1.22222em; /* 22 / 18 = 1.22222em */
  margin-left: auto;
  margin-right: auto;
  max-height: 45vh;
  box-sizing: border-box; /* Keeps borders from making width > 100% */
}

#gamedev #content {
  text-align: center;
}

.skill-container {
  width: 100%;
  height: 1em;
  background-color: rgba(0, 0, 0, .2);
  border: 0.11111em solid rgba(0, 0, 0, .1); /* 2 / 18 = 0.11111 */
  margin-top: 0.33333em; /* 6 / 18 = 3.33333 */
}

.skill-bar {
  background: linear-gradient(to right, rgba(175,0,0,1) 0%, rgba(200, 50, 50, 1) 100%);
  height: 100%;
}

.favorite {
  text-align: center;
}

.favorite img {
  border-radius: 50%;
  box-shadow: 0 0 0.44444em rgba(0, 0, 0, .8); /* 8 / 18 = 0.44444 */
}

/* State */

.wf-active {
  line-height: 1.52778em; /* 27.5 / 18 = 1.52778 */
}

/*
  600 px
  600 / 16 = 37.5
  Note: the em unit in media queries is the base size, not the one
  set in the html tag
*/

@media screen and (min-width: 37.5em) {
  #content > *, #header > .lede {
    padding-left: 7.33333%; /* 44 / 600 = 0.0733333 */
    padding-right: 7.33333%; /* 44 / 600 = 0.0733333 */
  }
}

/*
  900 px
  900 / 16 = 56.25
*/

@media screen and (min-width: 56.25em) {
  #content > *, #header > .lede {
    padding-left: 16.66666%; /* 150 / 900 = .1666666 */
    padding-right: 16.66666%; /* 150 / 900 = .1666666 */
  }
}

/*
  1000 px
  1000 / 16 = 62.5
*/

@media screen and (min-width: 62.5em){

  #table-of-contents {
    display: flex;
  }

  #table-of-contents > section {
    margin-left: .61111em; /* 11 / 18 = 0.61111 */
    margin-right: .61111em; /* 11 / 18 = 0.61111 */
    flex: 1;
  }

}

/*
  1200 px
  1200 / 16 = 75
*/

@media screen and (min-width: 75em) {
  /*
   7 Total Column Layout - 3 Left, 4 Right
   1200px / whole screen
   -360px / margins (total)
    840px remaining
   84px / column
   42px / gutter
   Left-hand column : 84 * 3 + 42 * 2 = 336
   Right-hand column: 462px, offset by 42
  */

  #content > * {
    padding-left: 15%; /* 180 / 1200 = 0.15 */
    padding-right: 15%; /* 180 / 1200 = 0.15 */
  }

  .primary {
    float: left;
    width: 55%; /* 462 / 840 = 0.55 */
  }

  .supporting {
    float: left;
    width: 40%; /* 336 / 840 = 0.4 */
  }

  .primary {
    margin-left: 5%; /* 42 / 840 = 0.05 */
  }

  .section-content:after, .competitive-game:after, #vjasmash:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }

  .flexbox #gamedev > #content > section {
    display: flex;
  }

  .flexbox #gamedev .primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flexbox .section-content {
    display: flex;
  }

  .flexbox .primary, .flexbox .supporting {
    float: none;
  }

  #header > .lede, #content > section > .lede {
    padding-left: 24.5%; /* (840 - (84+42)*2) / 1200 / 2 = 0.245 */
    padding-right: 24.5%; /* (840 - (84+42)*2) / 1200 / 2 = 0.245 */
  }

  /*
    Competitive Games Section
    2 Column Alternating Layout
    Header: 75%
    Supporting Figure: 20%
    Margin: 5%
  */

  .competitive-game > header {
    width: 75%;
    float: left;
  }

  .competitive-game > figure {
    margin-left: 5%;
    width: 20%;
    float: left;
  }

  .flexbox .competitive-game > * {
    float: none;
  }

  .flexbox .competitive-game {
    display: flex;
    align-items: center;
  }

  .flexbox #ssbm {
    flex-direction: row-reverse;
  }

  .flexbox #ssbm > figure {
    margin-left: 0;
  }

  .flexbox #ssbm > header {
    margin-left: 5%;
  }

  #vjasmash > figure {
    width: 35%;
    float: left;
  }

  #vjasmash > header {
    width: 60%;
    margin-left: 5%;
    float: left;
  }

  .flexbox #vjasmash {
    display: flex;
    align-items: center;
  }

  .flexbox #vjasmash > * {
    float: none;
  }

}

/*
  1600 px
  1600 / 16 = 100
*/

@media screen and (min-width: 100em) {
    .lede {
      font-size: 1.33333em; /* 24 / 18 = 1.33333 */
    }
}
