/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */

/* Using 18px/22px gridline with Perfect Fourth typographic scale */

/* Base */

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 1.125em; /* 18 / 16 = 1.25 */
  line-height: 1.22222em; /* 22 / 18 = 1.22222 */
  color: #eeeeee; /* White */
}

body {
  padding-top: 2.44444em;
}

h4 {
  font-size: 1.33333em; /* 24 / 18 = 1.33333 */
  line-height: 1.83333em; /* 44 / 24 = 1.83333 */
}

h3 {
  font-size: 1.77777em; /* 32 / 18 = 1.77777 */
  line-height: 1.375em; /* 44 / 32 = 1.375 */
}

h2 {
  font-size: 2.33333em; /* 42 / 18 = 2.33333 */
  line-height: 1.57143em; /* 66 / 42 = 1.57143 */
}

h1 {
  font-size: 3.66666em; /* 66 / 18 = 3.11111 */
  line-height: 1.33333em; /* 88 / 66 = 1.33333 */
}

p {
  padding-bottom: 1.22222em; /* 22 / 18 = 1.22222 */
}

li {
  padding-bottom: 0.61111em; /* 11 / 18 = 0.611 */
}

ol, ul {
  padding-bottom: 0.61111em; /* 11 / 18 = 0.611 */
}

a {
  color: #f8f8f8; /* Brighter white */
}

/* Layout */

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navigation li {
  float: left;
  width: 25%;
}

#content > section > *, #header {
  padding-left: 1.22222em; /* 22 / 18 = 1.22222 */
  padding-right: 1.22222em; /* 22 / 18 = 1.22222 */
}

/* Modular */

#navigation a {
  display: block;
  padding-top: .61111em;
  padding-bottom: 0.61111em;
  font-weight: bold;
  background-color: #444444;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
}

.lede {
  font-style: italic;
  text-align: center;
  line-height: 1.83333;
}

section > h2 {
  background-color: #111111;
  text-align: center;
  border-top: 5px solid #eeeeee;
  border-bottom: 5px solid #eeeeee;
}

#header {
  background-color: #006600; /* Green */
}

#gamedev {
  background-color: #004477; /* Blue */
}

#computerscience {
  background-color: #880000; /* Red */
}

#esports {
  background-color: #550055; /* Purple */
}

#contact {
  background-color: #ff6600; /* Orange */
}

#footer {
  background-color: #111111; /* Black */
  border-top: 5px solid #eeeeee;
}
