/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */

/* Using 18px/22px gridline with Perfect Fourth typographic scale */

/* Base */

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 1.125em; /* 18 / 16 = 1.25 */
  line-height: 1.22222em; /* 22 / 18 = 1.22222 */
  font-family:  serif;
  color: #eeeeee; /* White */
}

h4 {
  font-size: 1.33333em; /* 24 / 18 = 1.33333 */
  line-height: 1.83333em; /* 44 / 24 = 1.83333 */
}

h3 {
  font-size: 1.77777em; /* 32 / 18 = 1.77777 */
  line-height: 1.375em; /* 44 / 32 = 1.375 */
}

h2 {
  font-size: 2.33333em; /* 42 / 18 = 2.33333 */
  line-height: 1.57143em; /* 66 / 42 = 1.57143 */
}

h1 {
  font-size: 2.33333em; /* 42 / 18 = 2.33333 */
  line-height: 1.57143em; /* 66 / 42 = 1.57143 */
  font-weight: bold;
  text-align: center;
  padding-top: 1.04762em; /* 44 / 42 = 1.04762 */
}

p {
  padding-bottom: 1.22222em; /* 22 / 18 = 1.22222 */
}

li {
  padding-bottom: 0.61111em; /* 11 / 18 = 0.611 */
}

ol, ul {
  padding-bottom: 0.61111em; /* 11 / 18 = 0.611 */
}

a {
  color: #f8f8f8; /* Brighter white */
}

h1, h2, h3, h4 {
  font-family: "Helvetica", "Arial", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* Layout */

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navigation li {
  float: left;
  width: 25%;
}

#content > section > *, #header {
  padding-left: 1.22222em; /* 22 / 18 = 1.22222 */
  padding-right: 1.22222em; /* 22 / 18 = 1.22222 */
}

#content > section > h2 {
  margin-bottom: 0.52381em; /* 22 / 42 = 0.52381 */
}

/* Modular */

#navigation a {
  display: block;
  padding-top: .61111em;
  padding-bottom: 0.61111em;
  font-weight: bold;
  background-color: #002040;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
}

.lede {
  font-style: italic;
  text-align: center;
  font-size: 125%;
  line-height: 1.83333;
}

section > h2 {
  background-color: #111111;
  text-align: center;
  border-top: 5px solid #eeeeee;
  border-bottom: 5px solid #eeeeee;
}

#header {
  background-color: #003366; /* Blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#gamedev {
  background-color: #005a00; /* Green */
}

#computerscience {
  background-color: #660000; /* Red */
}

#esports {
  background-color: #330055; /* Purple */
}

#contact {
  background-color: #bb4400; /* Orange */
}

#footer {
  background-color: #111111; /* Black */
  border-top: 5px solid #eeeeee;
}

#footer > p {
  text-align: center;
  padding-top: 1.22222em;
}

#header > img {
  max-height: 45vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.22222em;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#gamedev img {
  border: 4px solid #003300;
  margin-bottom: 1.2222em;
  max-height: 65vh;
}

.skill-container {
  width: 100%;
  height: 1em;
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .1);
}

.skill-bar {
  background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255, 35, 35, 1) 100%);
  height: 100%;
}

/* State */

@media screen and (min-width: 700px) {
  #content > section > *, #header > .lede {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media screen and (min-width: 900px) {
  #content > section > *, #header > .lede {
    padding-left: 18%;
    padding-right: 18%;
  }
}

@media screen and (min-width: 1100px) {

  #content > section > * {
    padding-left: 8%;
    padding-right: 8%;
  }

  .main-content {
    display: flex;
  }

  .main-content > .primary, .main-content > .supporting {
    flex: 1;
    flex-grow: 1;
  }

  .main-content > .supporting {
    margin-left: 2.44444em;
  }

  #gamedev > section {
    display: flex;
    justify-content: space-evenly;
  }

  #gamedev .supporting {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #header > .lede, #content > section > .lede {
    padding-left: 25%;
    padding-right: 25%;
  }

}

@media screen and (min-width: 1600px) {
    html {
      font-size: 1.375em; /* 22 / 16 = 1.375 */
      line-height: 1.27272em; /* 28 / 22 = 1.27272 */
    }
}
